aiohappyeyeballs
aiohttp
aiosignal
anyio
attrs
certifi
charset-normalizer
click
contourpy
cycler
datasets
dill
filelock
fonttools
frozenlist
fsspec
git-filter-repo
h11
hf-xet
httpcore
httpx
huggingface-hub
idna
iniconfig
joblib
kiwisolver
matplotlib
mpmath
multidict
multiprocess
networkx
numpy
packaging
pandas
pillow
pluggy
powerlaw
propcache
pyarrow
pygments
pymupdf
pyparsing
pytest
python-dateutil
python-louvain
pyyaml
requests
scikit-learn
scipy
shellingham
six
threadpoolctl
tqdm
typer-slim
typing-extensions
urllib3
xxhash
yarl
